* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.carousel-item {
  height: 500px;
}
.border-5 {
  border: 1px solid black !important;
  border-radius: 5px;
  padding-left: 0px;
}
.learning-bg {
  background-color: rgb(222, 248, 255);
}
.footer-bg {
  background-color: rgb(43, 48, 53);
}
.footer-bg > p {
  margin-bottom: 0px;
}
.footer-policy > a {
  text-decoration: none;
}
.footer > .icons > a {
  text-decoration: none;
}
