* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.carousel-item {
  height: 89vh;
}
.carousel-item > img {
  min-height: 300px;
}
.carousel-item > .slider-caption {
  min-height: 100px;
}
.cover-img {
  filter: brightness(50%);
}
.slider-caption {
  height: 50vh;
}
.border-5 {
  border: 1px solid black !important;
  border-radius: 5px;
  padding-left: 0px;
}
.learning-bg {
  background-color: rgb(222, 248, 255);
}
.register {
  background-color: rgb(222, 248, 255);
}
.review > p {
  padding: 0px 120px;
}
.footer-bg {
  background-color: rgb(43, 48, 53);
}
.footer-bg > p {
  margin-bottom: 0px;
}
.footer-policy > a {
  text-decoration: none;
}
.footer > .icons > a {
  text-decoration: none;
}
